@import './colors';

// Navbar
$navBarHeight: 80px;
$navBarBgColor: $color-navBarBg;

// Sidebar
$sideBarWidth: 240px;
$sideBarBgColor: $color-sideBarBg;

// AppMain
$appMainBgColor: $color-appMainBg;
